<h1>Lista de Posts</h1>

<a href="/cad"><button>Criar Post</button></a>
<hr>

{{#each posts}}
    <h1>{{dataValues.titulo}}</h1>
    <small> {{dataValues.createdAt}} </small>
    <p>{{dataValues.conteudo}}</p>
    <a href="/deletar/{{dataValues.id}}"> <button>Deletar</button></a>
    <hr>
{{/each}}

